<div class="row mb-4">
    <a [routerLink]="['/questions']" ><i class="fa-solid fa-angles-left"></i> Torna alla lista</a>
</div>

<div class="row">
    <h2 id="title" class="mb-5">{{(editing ? 'Modifica' : 'Dettaglio') + ' domanda'}}</h2>

    <div *ngIf="!editing" class="col-12 mb-4">
        <ng-container>
            <div class="col-12 mb-5">
                <h4 class="text-center">Domanda #{{question?.id}}</h4>
            </div>
        </ng-container>

        <h6 class="text-center mb-3">Scegli la lingua da modificare</h6>
        <div class="row d-flex justify-content-center">
            <div class="col-6 text-end">
                <img src="https://coloridelvento.altervista.org/assets/images/it.webp" alt="it" id="it" class="rounded-pill" width="40" 
                    role="button" (click)="setLang('it')">
            </div>
            <div class="col-6">
                <img src="https://coloridelvento.altervista.org/assets/images/en.webp" alt="en" id="en" class="rounded-pill" width="40" 
                    role="button" (click)="setLang('en')">
            </div>
        </div>
    </div>

    <div *ngIf="formData && lang" class="h-100">

        <div *ngIf="formError" class="mb-5">
            <p class="text-danger fw-bold">{{formError}}</p>
        </div>

        <ng-container *ngIf="editing; else disabled">
            <form *ngIf="formData" class="h-100" [formGroup]="formData">
                <mat-form-field class="form-field w-100 my-1 ms-1">
                    <mat-label>Titolo*</mat-label>
                    <input matInput type="text" id="title" formControlName="title">

                    <mat-error *ngIf="formData.get('title').invalid && formData.get('title').touched">
                        <small class="text-danger"
                            *ngIf="formData.get('title').errors?.required">
                            Campo obbligatorio.
                        </small>
                    </mat-error>
                </mat-form-field>

            </form>

        </ng-container>

        <ng-template #disabled>

            <hr>
            <div class="col-12 mb-3">
                <p><strong>Titolo</strong></p>
                <p>{{formData.value.title}}</p>
            </div>
            <div class="col-12 mb-3 overflow-auto">
                <p><strong>Risposte</strong></p>
                <table mat-table [dataSource]="dataSource" class="w-100 bg-transparent">
        
                    <ng-container *ngFor="let col of displayedColumns">
                        <ng-container [matColumnDef]="col">
                            <th mat-header-cell *matHeaderCellDef class="px-3 fw-bold"> {{getColumnLabel(col)}} </th>
                            <td mat-cell *matCellDef="let element" class="px-3" (click)="navigateTo(element)" style="cursor: pointer;">
                                <span>{{element[col]}}</span>
                            </td>
                        </ng-container>
                    </ng-container>
        
                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell *matFooterCellDef colspan="4" class="text-center border-0">Nessun dato trovato</td>
                     </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="['noData']" [class.d-none]="dataSource?.data.length > 0"></tr>
        
                </table>
            </div>

        </ng-template>

    </div>

</div>

<div class="mb-5" *ngIf="formData && lang">
    <ng-container *ngIf="!editing; else editingCta">
        <div class="row p-2">
            <button class="btn btn-primary" (click)="editing = true">Modifica</button>
        </div>
    </ng-container>
    
    <ng-template #editingCta>
        <button class="btn btn-primary me-2" (click)="confirm()" [disabled]="!formData.valid">
            Conferma
        </button>

        <button class="btn btn-light text-primary border-primary" (click)="cancel()">
            Annulla
        </button>
    </ng-template>
</div>