<div class="row mb-4">
    <a [routerLink]="['/']" ><i class="fa-solid fa-angles-left"></i> Torna indietro</a>
</div>

<div class="row">
    <div *ngIf="formError" class="mb-3">
        <p class="text-danger fw-bold">{{formError}}</p>
    </div>

    <div class="p-2">
        <div class="p-2 border border-warning">
            <div class="d-flex mb-2">
                <div class="me-3">
                    <i class="fa-solid fa-circle-info"></i>
                </div>
                <div>
                    <span>Carica esattamente 4 foto con il flag cover spuntato per mantenere l'impaginazione del layout della home page</span>
                </div>
            </div>
            <small><em>Il flag cover indica se la foto deve essere mostrata nella relativa sezione della home page</em></small>
        </div>
    </div>
    
    <div class="overflow-auto">
        <table mat-table [dataSource]="dataSource" class="w-100 bg-transparent">

            <ng-container matColumnDef="checked">
                <th mat-header-cell *matHeaderCellDef class="px-3">
                    <mat-checkbox *ngIf="checkableLength > 0" color="primary" 
                        [checked]="checkableLength == getCheckedLength() "
                        [indeterminate]="getCheckedLength() > 0 && checkableLength != getCheckedLength()"
                        (change)="selectAll($event)">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element" class="px-3">
                    <mat-checkbox [id]="element.id" [(ngModel)]="element.checked" color="primary">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- immagine -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef class="px-3 fw-bold"> {{getColumnLabel('title')}} </th>
                <td mat-cell *matCellDef="let element" class="p-3" (click)="modaleSrc = element.title" 
                    data-bs-toggle="modal" data-bs-target="#imageModal" role="button">
                    <img [src]="'https://coloridelvento.altervista.org/assets/images/' + element.title" [alt]="element.title" width="100">
                </td>
            </ng-container>

            <!-- flag cover -->
            <ng-container matColumnDef="cover">
                <th mat-header-cell *matHeaderCellDef class="px-3 fw-bold"> {{getColumnLabel('cover')}} </th>
                <td mat-cell *matCellDef="let element" class="p-3">
                    <mat-checkbox [(ngModel)]="element.cover" color="primary"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="noData">
                <td mat-footer-cell *matFooterCellDef colspan="4" class="text-center border-0">Nessuna foto presente</td>
             </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="['noData']" [class.d-none]="dataSource?.data.length > 0"></tr>
        
        </table>
    </div>

    <mat-paginator class="bg-transparent mt-4" [class.d-none]="dataSource?.data.length == 0"
        [length]="dataSource?.data.length" [pageSize]="5" showFirstLastButtons hidePageSize>
    </mat-paginator>
</div>

<div class="row p-2" *ngIf="getCheckedLength() > 0">
    <button class="btn btn-light text-danger border-danger" (click)="delete()">Elimina</button>
</div>

<div class="row p-2" *ngIf="isAnyCoverModified()">
    <button class="btn btn-light text-primary border-primary" (click)="update()">Aggiorna</button>
</div>

<div class="row px-2 mb-5">
    <a class="btn btn-primary" [routerLink]="['insert']">Aggiungi foto</a>
</div>

<div class="modal fade" style="background-color: rgba(33, 37, 41, .8);" id="imageModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl" id="carouselLike">
        <div class="modal-content text-end bg-transparent border-0">
            <div class="modal-header border-0">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <img *ngIf="modaleSrc" [src]="'https://coloridelvento.altervista.org/assets/images/' + modaleSrc" alt="" style="max-height: 80vh; max-width: 90vw;">
            </div>
        </div>
    </div>
</div>