<div class="row">
    <h1>Admin Panel</h1>
</div>
<div class="row pt-5">
    <p>
        <a [routerLink]="['/events']" >Eventi</a>
    </p>
    <p>
        <a class="text-link" (click)="bandExploded = !bandExploded" >Band e componenti</a>
    </p>
    <div *ngIf="bandExploded">
        <ul>
            <li><a [routerLink]="['/band']" >Band</a></li>
            <li><a [routerLink]="['/component']" >Componenti</a></li>
        </ul>
    </div>
    <p>
        <a class="text-link" (click)="mediaExploded = !mediaExploded" >Media</a>
    </p>
    <div *ngIf="mediaExploded">
        <ul>
            <li><a [routerLink]="['/photo']" >Foto</a></li>
            <li><a [routerLink]="['/video']" >Video</a></li>
        </ul>
    </div>
</div>
