<div class="row">
    <h1>Admin Panel</h1>
</div>
<div class="row py-5">
    <p>
        <a [routerLink]="['/events']" >Eventi</a>
    </p>
    <p>
        <a class="text-link" (click)="bandExploded = !bandExploded" role="button">Band e componenti</a>
    </p>
    <div *ngIf="bandExploded">
        <ul>
            <li><a [routerLink]="['/band']" >Band</a></li>
            <li><a [routerLink]="['/components']" >Componenti</a></li>
        </ul>
    </div>
    <p>
        <a class="text-link" (click)="mediaExploded = !mediaExploded" role="button">Media</a>
    </p>
    <div *ngIf="mediaExploded">
        <ul>
            <li><a [routerLink]="['/photos']" >Foto</a></li>
            <li><a [routerLink]="['/videos']" >Video</a></li>
        </ul>
    </div>
    <p>
        <a class="text-link" (click)="contattiExploded = !contattiExploded" role="button">Contatti</a>
    </p>
    <div *ngIf="contattiExploded">
        <ul>
            <li><a [routerLink]="['/contacts']" >Contatti home page</a></li>
            <li><a [routerLink]="['/footer-contacts']" >Contatti footer</a></li>
            <li><a [routerLink]="['/contact-form']" >Form contatto</a></li>
        </ul>
    </div>
    <p>
        <a class="text-link" (click)="quizExploded = !quizExploded" role="button">Quiz Disney</a>
    </p>
    <div *ngIf="quizExploded">
        <ul>
            <li><a [routerLink]="['/quiz']" >Pagina principale</a></li>
            <li><a [routerLink]="['/question-answers']" >Domande e risposte</a></li>
            <li><a [routerLink]="['/results']" >Risultati</a></li>
        </ul>
    </div>
</div>
