<div class="row mb-4">
    <a [routerLink]="['/events']" ><i class="fa-solid fa-angles-left"></i> Torna alla lista</a>
</div>

<div class="row">

    <form *ngIf="formData" class="h-100" [formGroup]="formData">

        <h2 id="title" class="mb-5">{{(isInsert ? 'Inserisci' : 'Modifica') + ' evento'}}</h2>

        <div *ngIf="formError" class="mb-5">
            <p class="text-danger fw-bold">{{formError}}</p>
        </div>

        <ng-container *ngIf="isInsert || editing; else disabled">
            <mat-form-field class="form-field w-100 my-1 ms-1">
                <mat-label>Luogo*</mat-label>
                <input matInput type="text" id="location" formControlName="location">

                <mat-error *ngIf="formData.get('location').invalid && formData.get('location').touched">
                    <small class="text-danger"
                        *ngIf="formData.get('location').errors?.required">
                        Campo obbligatorio.
                    </small>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field w-100 my-1 ms-1">
                <mat-label>Data*</mat-label>
                <input matInput type="date" id="date" formControlName="date">

                <mat-error *ngIf="formData.get('date').invalid && formData.get('date').touched">
                    <small class="text-danger"
                        *ngIf="formData.get('date').errors?.required">
                        Campo obbligatorio.
                    </small>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field w-100 my-1 ms-1">
                <mat-label>Ora*</mat-label>
                <input matInput type="time" id="time" formControlName="time">

                <mat-error *ngIf="formData.get('time').invalid && formData.get('time').touched">
                    <small class="text-danger"
                        *ngIf="formData.get('time').errors?.required">
                        Campo obbligatorio.
                    </small>
                </mat-error>
            </mat-form-field>

            <mat-checkbox class="ms-1 my-1" color="primary" id="flagGratuito" formControlName="flagGratuito">
                Gratuito</mat-checkbox>

            <mat-form-field class="form-field w-100 my-1 ms-1">
                <mat-label>Url biglietti</mat-label>
                <input matInput type="text" id="ticketUrl" formControlName="ticketUrl">

                <mat-error *ngIf="formData.get('ticketUrl').invalid && formData.get('ticketUrl').touched">
                    <small class="text-danger"
                        *ngIf="formData.get('ticketUrl').errors?.required">
                        Campo obbligatorio.
                    </small>
                </mat-error>
            </mat-form-field>
        </ng-container>

        <ng-template #disabled>

            <div *ngIf="dataSource" class="overflow-auto mb-5">
                <table mat-table [dataSource]="dataSource" matSort class="w-100 bg-transparent">
    
                    <ng-container *ngFor="let col of displayedColumns">
                        <ng-container [matColumnDef]="col">
                            <td mat-cell *matCellDef="let element" class="px-3" [class.fw-bold]="col == 'valore'">
                                <span>{{element[col] != null ? formatField(element, col) : '-'}}</span>
                            </td>
                        </ng-container>
                    </ng-container>
                
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                </table>
            </div>

        </ng-template>

    </form>

</div>

<div>
    <ng-container *ngIf="!isInsert; else saveCta">
        <ng-container *ngIf="!editing; else editingCta">
            <div class="row p-2">
                <button class="btn btn-primary" (click)="editing = true">Modifica</button>
            </div>
            
            <div class="row px-2">
                <button class="btn btn-light text-danger border-danger" (click)="delete()">Elimina</button>
            </div>
        </ng-container>
        
        <ng-template #editingCta>
            <button class="btn btn-primary me-2" (click)="confirm()" [disabled]="!formData.valid">
                Conferma
            </button>
    
            <button class="btn btn-light text-primary border-primary" (click)="cancel()">
                Annulla
            </button>
        </ng-template>
    </ng-container>

    <ng-template #saveCta>
        <div class="col-12 col-lg">
            <button class="btn btn-primary me-2" (click)="confirm()" [disabled]="!formData.valid">
                Salva
            </button>
        </div>
    </ng-template>
    
</div>