<div class="row mb-4">
    <a [routerLink]="[footer ? '/footer-contacts' : '/contacts']" ><i class="fa-solid fa-angles-left"></i> Torna alla lista</a>
</div>

<div class="row">

    <form *ngIf="formData" class="h-100" [formGroup]="formData">

        <h2 id="title" class="mb-5">{{(isInsert ? 'Inserisci' : 'Modifica') + ' contatto'}}</h2>

        <div *ngIf="formError" class="mb-5">
            <p class="text-danger fw-bold">{{formError}}</p>
        </div>

        <ng-container *ngIf="isInsert || editing; else disabled">
            <mat-form-field *ngIf="!footer" class="form-field w-100 my-1 ms-1">
                <mat-label>Nome (opzionale)</mat-label>
                <input matInput type="text" id="name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="form-field w-100 my-1 ms-1">
                <mat-label>Descrizione*</mat-label>
                <input matInput type="text" id="desc" formControlName="desc">

                <mat-error *ngIf="formData.get('desc').invalid && formData.get('desc').touched">
                    <small class="text-danger"
                        *ngIf="formData.get('desc').errors?.required">
                        Campo obbligatorio.
                    </small>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field w-100 my-1 ms-1">
                <mat-label>Tipologia*</mat-label>
                <mat-select [formControl]="formData.get('type')" id="type">
                    <mat-option [value]="options[0]">Telefono</mat-option>
                    <mat-option [value]="options[1]">Mail</mat-option>
                    <mat-option [value]="options[2]">Whatsapp</mat-option>
                </mat-select>

                <mat-error *ngIf="formData.get('type').invalid && formData.get('type').touched">
                    <small class="text-danger"
                        *ngIf="formData.get('type').errors?.required">
                        Campo obbligatorio.
                    </small>
                </mat-error>
            </mat-form-field>
        </ng-container>

        <ng-template #disabled>

            <div *ngIf="dataSource" class="overflow-auto mb-5">
                <table mat-table [dataSource]="dataSource" matSort class="w-100 bg-transparent">
    
                    <ng-container *ngFor="let col of displayedColumns">
                        <ng-container [matColumnDef]="col">
                            <td mat-cell *matCellDef="let element" class="px-3" [class.fw-bold]="col == 'valore'">
                                <span>{{element[col] ? formatField(element, col) : '-'}}</span>
                            </td>
                        </ng-container>
                    </ng-container>
                
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                </table>
            </div>

        </ng-template>

    </form>

</div>

<div>
    <ng-container *ngIf="!isInsert; else saveCta">
        <ng-container *ngIf="!editing; else editingCta">
            <div class="row p-2">
                <button class="btn btn-primary" (click)="editing = true">Modifica</button>
            </div>
            
            <div class="row px-2">
                <button class="btn btn-light text-danger border-danger" (click)="delete()">Elimina</button>
            </div>
        </ng-container>
        
        <ng-template #editingCta>
            <button class="btn btn-primary me-2" (click)="confirm()" [disabled]="!formData.valid">
                Conferma
            </button>
    
            <button class="btn btn-light text-primary border-primary" (click)="cancel()">
                Annulla
            </button>
        </ng-template>
    </ng-container>

    <ng-template #saveCta>
        <div class="col-12 col-lg">
            <button class="btn btn-primary me-2" (click)="confirm()" [disabled]="!formData.valid">
                Salva
            </button>
        </div>
    </ng-template>
    
</div>